<div class="mt-4">
    <form method="GET" action="/news">
  <div class="form-group">
    <label for="keyword">Input Keyword</label>
    <input type="text" name="fullname"> 
    <input type="text" name="age"> 
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter keyword">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>